<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Medical Academic Theme Test Suite">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<coverage includeUncoveredFiles="true">
		<include>
			<directory suffix=".php">./inc/</directory>
			<file>./functions.php</file>
		</include>
		<exclude>
			<directory>./tests/</directory>
			<directory>./vendor/</directory>
			<directory>./node_modules/</directory>
		</exclude>
	</coverage>
	<php>
		<const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="./vendor/yoast/phpunit-polyfills/phpunitpolyfills-autoload.php" />
	</php>
</phpunit>