<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"ma-theme/hero"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"ma-theme/query-posts-grid"} /-->

	<!-- wp:pattern {"slug":"ma-theme/features"} /-->

	<!-- wp:pattern {"slug":"ma-theme/testimonials"} /-->

	<!-- wp:pattern {"slug":"ma-theme/call-to-action"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
